<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>HRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.reg.empservlet.EmployeeRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <servlet-class>com.reg.empservlet.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <url-pattern>/EmployeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeApplyLeaveServlet</servlet-name>
    <servlet-class>com.reg.empservlet.EmployeeApplyLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeApplyLeaveServlet</servlet-name>
    <url-pattern>/EmployeeApplyLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeLeaveDetailsServlet</servlet-name>
    <servlet-class>com.reg.empservlet.EmployeeLeaveDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLeaveDetailsServlet</servlet-name>
    <url-pattern>/EmployeeLeaveDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeProjectAssignmentServlet</servlet-name>
    <servlet-class>com.reg.empservlet.EmployeeProjectAssignmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeProjectAssignmentServlet</servlet-name>
    <url-pattern>/EmployeeProjectAssignmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeProjectDetailsServlet</servlet-name>
    <servlet-class>com.reg.empservlet.EmployeeProjectDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeProjectDetailsServlet</servlet-name>
    <url-pattern>/EmployeeProjectDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeePaySalaryServlet</servlet-name>
    <servlet-class>com.reg.empservlet.EmployeePaySalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeePaySalaryServlet</servlet-name>
    <url-pattern>/EmployeePaySalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndividualEmployeeSalaryServlet</servlet-name>
    <servlet-class>com.reg.empservlet.IndividualEmployeeSalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndividualEmployeeSalaryServlet</servlet-name>
    <url-pattern>/IndividualEmployeeSalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndividualEmployeeSalaryInfoServlet</servlet-name>
    <servlet-class>com.reg.empservlet.IndividualEmployeeSalaryInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndividualEmployeeSalaryInfoServlet</servlet-name>
    <url-pattern>/IndividualEmployeeSalaryInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllEmployeeSalaryInfoServlet</servlet-name>
    <servlet-class>com.reg.empservlet.AllEmployeeSalaryInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllEmployeeSalaryInfoServlet</servlet-name>
    <url-pattern>/AllEmployeeSalaryInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeePerformanceAndReviewServlet</servlet-name>
    <servlet-class>com.reg.empservlet.EmployeePerformanceAndReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeePerformanceAndReviewServlet</servlet-name>
    <url-pattern>/EmployeePerformanceAndReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndividualEmployeePerformanceInfoServlet</servlet-name>
    <servlet-class>com.reg.empservlet.IndividualEmployeePerformanceInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndividualEmployeePerformanceInfoServlet</servlet-name>
    <url-pattern>/IndividualEmployeePerformanceInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllEmployeePerformanceInfoServlet</servlet-name>
    <servlet-class>com.reg.empservlet.AllEmployeePerformanceInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllEmployeePerformanceInfoServlet</servlet-name>
    <url-pattern>/AllEmployeePerformanceInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRecruitedCandidateServlet</servlet-name>
    <servlet-class>com.reg.empservlet.AddRecruitedCandidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRecruitedCandidateServlet</servlet-name>
    <url-pattern>/AddRecruitedCandidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllRecruitedCandidatesInfoServlet</servlet-name>
    <servlet-class>com.reg.empservlet.AllRecruitedCandidatesInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllRecruitedCandidatesInfoServlet</servlet-name>
    <url-pattern>/AllRecruitedCandidatesInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndividualEmployeeInfoServlet</servlet-name>
    <servlet-class>com.reg.empservlet.IndividualEmployeeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndividualEmployeeInfoServlet</servlet-name>
    <url-pattern>/IndividualEmployeeInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllEmployeesInfoServlet</servlet-name>
    <servlet-class>com.reg.empservlet.AllEmployeesInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllEmployeesInfoServlet</servlet-name>
    <url-pattern>/AllEmployeesInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>